html {
    scroll-behavior: smooth;
}

#SecondSection {
    background-color: rgb(238, 212, 173);
    margin:0;
    padding-bottom: 0.1em;
    padding: 20px;
   min-height: 100vh;
}

#h2 {
    margin-block-start: 0em;
    margin-block-end: 0.2em;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    padding-top: 0.52em;
    padding-bottom: 0em;
}

#h11 {
font-size: 2.25em;
text-transform: uppercase;
font-family: 'Saira Extra Condensed', sans-serif;
}

#h3 {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    padding-bottom: 0em;
}

#contain {
    align-items: right;
}

#What {
    font-size: 1.5em;
    font-family: 'Rancho', cursive;
    padding-bottom: 0.3em;
    padding-top: 0%;
    font-weight: 100;
}

ol {
    list-style-position: inside;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#ThirdSection {
    min-height: 100vh;
    background-color: rgb(137, 172, 206);
    padding-top: 5em;
    margin:0;
    padding-bottom: 0.1em;
    padding: 20px; 
    min-height: 100vh;
}

#solutions {
    font-family: 'Barriecito', cursive;
    padding-left: 0.4em;
    padding-top: 0.05em;
    padding-bottom: 0.4em;
    font-size: 3.3em;
    text-align: center; 
}

#What2 {
font-size: 1.2em;
font-family:'Yanone Kaffeesatz', sans-serif;
}

#dog {
    font-family: 'Concert One', cursive;
    font-size: 1.3em;
}

#button {
  margin-left: 31em;
}